RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.thietkewebpmax.com$ [NC]
RewriteRule ^(.*)$ http://thietkewebpmax.com/$1 [R=301,L]

RewriteCond $1 !^(index\.php|template|uploads|plugin|robots\.txt)

RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]